---
import Slide from "../components/Slide.astro";
import SlideNav from "../components/SlideNav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <SlideNav qtd="6" />
  <main>
    <img
      width="800"
      src="\astro-logo-light-gradient.svg"
      alt="astro"
      class="m-auto"
    />
    <Slide id="1"><h2>O Desafio</h2></Slide>
    <Slide id="2"><h2>Por que o Astro é tão Ágil?</h2></Slide>
  </main>
</Layout>
