---
import FormattedDate from "./FormattedDate.astro";
import Image from "astro/components/Image.astro";

const { post } = Astro.props;
---

<li
  class="transition-all duration-400 hover:scale-102 hover:bg-zinc-900 rounded-xl"
>
  <a href={`/blog/${post.id}/`}>
    {
      post.data.heroImage && (
        <div class="overflow-hidden rounded-xl aspect-5/3 transition duration-400">
          <Image
            width={480}
            src={post.data.heroImage}
            format="webp"
            alt="Imagem Destaque"
            class="scale-105 hover:scale-100 transition duration-400 object-cover w-full h-full"
          />
        </div>
      )
    }
    <div class="p-3 md:p-4 space-y-1 md:space-y-2">
      <h4>{post.data.title}</h4>
      <p class="text-sm md:text-lg">
        <FormattedDate date={post.data.pubDate} />
      </p>
    </div>
  </a>
</li>
