---
interface Props {
  src?: string;
  imgSide?: "left" | "right";
  class?: string;
}

const { src, imgSide = "right", class: className } = Astro.props;

const isLeft = imgSide === "left" && true;
---

<section
  class="relative overflow-hidden w-full bg-[#20132CAA] rounded-2xl text-white border-2 border-[#DE386B]"
>
  <div
    class:list={[
      "p-6 md:py-10 md:px-12 flex flex-col gap-6 max-w-full",
      { "max-md:mb-120 md:w-1/2": src },
      isLeft ? "md:ml-auto" : "md:mr-auto",
    ]}
  >
    <slot />
    {
      src && (
        <div
          class:list={[
            "absolute md:top-0 bottom-0 w-full h-120 md:h-full md:w-1/2",
            isLeft ? "left-0" : "right-0",
          ]}
        >
          <img
            width="300"
            {src}
            alt=""
            class="object-cover object-center h-full w-full"
          />
          <div
            class:list={[
              "absolute inset-0 from-[#181021] from-0% to-transparent to-100%",
              isLeft ? "bg-linear-to-l" : "bg-linear-to-r",
              "max-md:bg-linear-to-b",
            ]}
          />
        </div>
      )
    }
  </div>
</section>
