---
import type BoxProps from "../../navigation";

type Props = BoxProps;

const { title, class: className } = Astro.props;
---

<li
  class:list={[
    className,
    "list-none bg-[#ffffff20] rounded-lg overflow-hidden border-[#ffffff60] border-2",
  ]}
>
  {
    title && (
      <div class="bg-[#ffffff60]">
        <h4 class="text-white p-5 text-2xl">{title}</h4>
      </div>
    )
  }
  <div class="p-5 space-y-5">
    <slot />
  </div>
</li>
