---
import "../styles/global.css";

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import type { ImageMetadata } from "astro";

import FallbackImage from "../assets/blog-placeholder-1.jpg";

interface Props {
  title?: string;
  description?: string;
  image?: ImageMetadata;
  class?: string;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = FallbackImage,
  class: className,
} = Astro.props;
---

<!doctype html>
<html lang="pt-br">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="bg-zinc-950 text-white font-atkinson leading-normal">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
